<nz-list-item class="ant-list-item ng-star-inserted loy-notification-list-item"
  ><a href="/" class="ng-star-inserted loy-notification-item"
    ><div class="d-flex">
      <nz-avatar
        [innerHTML]="data.icon"
        class="ant-avatar-notification ant-avatar ant-avatar-{{
          data.color
        }} ant-avatar-circle ant-avatar-icon"
      ></nz-avatar>
      <div class="m-l-15">
        <p class="m-b-0 text-dark">{{ data.conent }}</p>
        <p class="m-b-0 text-muted">
          <small>{{ data.time }}</small>
        </p>
      </div>
    </div></a
  ></nz-list-item
>
