<nz-layout>
  <loy-dashboard-header
    [isCollapsed]="isCollapsed"
    (buttonClickedIcon)="onClickedButtonIcon($event)"
  ></loy-dashboard-header>
  <nz-layout>
    <loy-dashboard-left-sidebar
      [isCollapsed]="isCollapsed"
    ></loy-dashboard-left-sidebar>
    <nz-layout
      class="page-container"
      [ngClass]="{ 'page-container-small': isCollapsed }"
    >
      <nz-content class="main-content">
        <router-outlet></router-outlet>
      </nz-content>
      <loy-dashboard-footer [isCollapsed]="isCollapsed"></loy-dashboard-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
