<nz-layout>
  <loy-dashboard-header
    [isCollapsed]="isCollapsed"
    [visible]="visible"
    (buttonClickedIcon)="onClickedButtonIcon($event)"
    (buttonClickOpenDrawer)="onClickOpenDrawer($event)"
  ></loy-dashboard-header>
  <nz-layout>
    <loy-dashboard-left-sidebar
      [isCollapsed]="isCollapsed"
      [switchSidebar]="switchSidebar"
    ></loy-dashboard-left-sidebar>
    <nz-layout
      class="page-container"
      [ngClass]="{ 'page-container-small': isCollapsed }"
    >
      <nz-content class="main-content">
        <router-outlet></router-outlet>
      </nz-content>
      <loy-dashboard-footer [isCollapsed]="isCollapsed"></loy-dashboard-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
<loy-dashboard-right-sidebar
  [visible]="visible"
  [switchSidebar]="switchSidebar"
  [isCollapsed]="isCollapsed"
    (buttonClickedIcon)="onClickedButtonIcon($event)"
  (buttonChangeColor)="onChangeColorSidebar($event)"
></loy-dashboard-right-sidebar>
