<nz-drawer
  [nzWidth]="280"
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  nzTitle="Theme Config"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <div class="m-b-30 drawer-content">
      <h4 class="m-b-0">Header Color</h4>
      <p>Config header background color</p>
      <div class="right-radio">
        <nz-radio-group
          [(ngModel)]="headerMode"
          nzButtonStyle="outline"
          (ngModelChange)="onChangeModeHeader(headerMode)"
        >
          <label nz-radio nzValue="white">White</label>
          <label nz-radio nzValue="primary">Primary</label>
          <label nz-radio nzValue="success">Success</label>
          <label nz-radio nzValue="secondary">Secondary</label>
          <label nz-radio nzValue="danger">Danger</label>
        </nz-radio-group>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div class="m-b-30 drawer-content">
      <h4 class="m-b-0">Side Nav Dark</h4>
      <p>Change Side Nav to dark</p>
      <div>
        <nz-switch
          [ngModel]="switchSidebar"
          (ngModelChange)="onChangeColorSidebar()"
        ></nz-switch>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div class="m-b-30 drawer-content">
      <h4 class="m-b-0">Folded Menu</h4>
      <p>Toggle Folded Menu</p>
      <div>
        <nz-switch
          [ngModel]="isCollapsed"
          (ngModelChange)="onClickButtonIcon()"
        ></nz-switch>
      </div>
    </div>
  </ng-container>
</nz-drawer>
