// header
.header {
  background: #fff;
  height: 70px;
  border-bottom: 1px solid #edf2f9;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  display: flex;
  padding: 0;
}

.logo {
  width: 280px !important;
  border-right: 1px solid #edf2f9;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.logo-small {
  width: 80px !important;
}

.header .nav-wrap {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-right {
  margin: 0px 10px;
  display: flex;
  align-items: center;
}

.button-icon {
  width: 50px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-avatar {
  margin: 0px 10px;
}

.button-icon:hover {
  background: rgb(216, 237, 255);
  border-radius: 5px;
}

.anticon {
  color: inherit;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  font-size: 18px;
  color: #535353;
}

.anticon:hover {
  color: inherit;
}

// sidebar
.side-nav {
  position: fixed;
  top: 70px;
  width: 280px !important;
  background-color: #fff;
  border-right: 1px solid #edf2f9;
  height: 100%;
  z-index: 1000;
  overflow-y: auto;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.side-nav-small {
  width: 80px !important;
}

.ant-menu {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 500;
  color: #2a2a2abf;
}

.ant-menu-item a {
  color: #2a2a2abf;
}

// container
.page-container {
  min-height: 100vh;
  padding-left: 280px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.page-container-small {
  padding-left: 80px;
}

.page-container .main-content {
  padding: 95px 25px 25px;
  min-height: calc(100vh - 70px);
}

// footer
.footer {
  padding: 0 25px;
  font-size: 90%;
}

.footer-content {
  display: flex;
  height: 65px;
  align-items: center;
  border-top: 1px solid rgb(206, 206, 206);
  justify-content: space-between;
}

.ant-layout-footer {
  padding: 0;
}
